<ion-view title="Sobre o Livrio">

    <ion-content class="about">

        <div class="padding" style="text-align: center;">
            <img src="img/logo.png" style="width: 30%;"/>
        </div>


        <div class="list padding">

            <div class="item item-divider">
                Legal
            </div>
            
            <a class="item" ui-sref="app.privacy">
                Política de Privacidade
            </a>
            
            <a class="item" ui-sref="app.terms">
                Termos de Uso
            </a>

            <div class="item item-divider">
                Sobre este aplicativo
            </div>
            
            <div class="item">
                Versão Android 1.2.0
            </div>


        </div>

    </ion-content>

</ion-view>