<ion-view title="{{'book.title_loan' | translate}}">
    <ion-content>

        <div class="wait-message" ng-show="loading">
            <ion-spinner class="spinner-energized"></ion-spinner>
            <span>{{loadText}}</span>
        </div>



        <div class="book-head" ng-hide="loading">
            <h2>{{bookView.title}}</h2>
            <h3>{{bookView.author}}</h3>
        </div>



        <ion-scroll direction="y" style="width: 100%; height: 100%">
            <ion-refresher pulling-text="Atualizar" on-refresh="onRefresh()"></ion-refresher>
            
            <div class="list friend-list">

                <div class="item item-avatar" ng-repeat="item in friends" ng-click="doLoan(item)" ng-hide="loading">
                <img ng-src="{{item.photo}}" />
                {{item.fullname}}
                </div>

            </div>

            <div class="notice-library-empty" ng-show="friends.length==0 && !loading">

            Nenhum amigo

            </div>

        </ion-scroll>

    </ion-content>
</ion-view>