<ion-view title="{{'search.title' | translate}}">

    <form name="formSearch" novalidate>
        <ion-header-bar class="bar-assertive item-input-inset  bar-subheader">
            <label class="item-input-wrapper">
            
                <input type="search" placeholder="{{'search.placeholder' | translate}}" ng-keyup="onSearch(formSearch.word.$modelValue)" name="word" ng-model="word">
                <button type="button" class="button button-icon icon button-small placeholder-icon" on-touch="onClean(formSearch)" ng-class="{'ion-android-close':searchStart, 'ion-android-search':!searchStart}">
                </button>
            </label>
        </ion-header-bar>
    </form>


    <ion-content>


        <div class="wait-message" ng-show="searching">
            <ion-spinner></ion-spinner>
            <span>{{'search.loading' | translate}}</span>
        </div>

        <div class="notice-library-empty" ng-hide="searchStart">

            {{'search.empty_list' | translate}}

        </div>

        <div class="notice-library-empty" ng-show="(librarys.length==0 && libraryFriends.length==0) && searchStart">

            {{'search.empty_search' | translate}}

        </div>

        <div class="list library" ng-hide="searching || !searchStart">

            <div class="item book" ng-hide="item.removed" ng-repeat="item in librarys" ui-sref="app.book({id:item.id})">
                <button type="button" class="button button-icon  btn-more" ng-click="onActionBook($event, item)">
                    <i class="icon ion-android-more-vertical"></i>
                </button>
                <i class="icon ion-bookmark loan" ng-class="{'expired':item.loaned.expired<=0}" ng-show="item.loaned"></i>
                <img ng-src="{{item.thumb}}">
                <div class="ct">
                    <h2>{{item.title}}</h2>
                    <h3>{{item.author}}</h3>

                        <p ng-show="item.publisher">{{item.publisher}}<span ng-show="item.published_year"> ({{item.published_year}})</span></p>
                        
                        <p ng-show="item.page_count>0">{{'search.page' | translate}} {{item.page_count}}</p>
                    
                        
                </div>

                
            </div>

            <div class="item item-divider" ng-show="libraryFriends.length>0">
                {{'search.book_friend' | translate}}
            </div>

            <div class="item book" ng-hide="item.removed" ng-repeat="item in libraryFriends" ui-sref="app.book({id:item.id})">
                <button type="button" class="button button-icon  btn-more" ng-click="onActionBook($event, item)">
                    <i class="icon ion-android-more-vertical"></i>
                </button>
                <i class="icon ion-bookmark loan" ng-class="{'expired':item.loaned.expired<=0}" ng-show="item.loaned"></i>
                <img ng-src="{{item.thumb}}">
                <div class="ct">
                    <h2>{{item.title}}</h2>
                    <h3>{{item.author}}</h3>

                        <p ng-show="item.publisher">{{item.publisher}}<span ng-show="item.published_year"> ({{item.published_year}})</span></p>
                        
                        <p ng-show="item.page_count>0">{{'search.page' | translate}} {{item.page_count}}</p>
                    
                        
                </div>

                
            </div>

        </div>



    </ion-content>

</ion-view>
