<ion-view>
   
  <ion-nav-title>
    {{friend.fullname}}
    </ion-nav-title>
    
  <ion-content>
     <ion-refresher pulling-text="{{'refresh' | translate}}" on-refresh="onRefresh()">
    </ion-refresher>

    <div class="wait-message" ng-show="loading">
        <ion-spinner class="spinner-energized"></ion-spinner>
        <span>{{'loading' | translate}}</span>
    </div>

    

    <book ng-repeat="item in librarys" book="item"></book>


    <div class="notice-library-empty" ng-show="librarys.length==0 && !loading">

        {{'friends.empty_list_book' | translate}}

    </div>
   




</ion-content>

</ion-view>