<ion-view title="{{'config.title' | translate}}">

    <ion-content>

            <ul class="list">

                <ion-toggle ng-model="config.allowSearchEmail" toggle-class="toggle-calm" ng-change="onChangeField()">
                    {{'config.allow_search_by_email' | translate}}
                </ion-toggle>

                <ion-toggle ng-model="config.allowNotificationPush" toggle-class="toggle-calm" ng-change="onChangeField()">
                    {{'config.allow_notification_push' | translate}}
                </ion-toggle>

                <ion-toggle ng-model="config.allowNotificationEmail" toggle-class="toggle-calm" ng-change="onChangeField()">
                    {{'config.allow_notification_email' | translate}}
                </ion-toggle>

            </ul>
    </ion-content>

</ion-view>