<ion-view title="Configurações">

    <ion-content>

            <ul class="list">

                <ion-toggle ng-model="config.allowSearchEmail" toggle-class="toggle-calm" ng-change="onChangeField()">
                    Permitir ser encontrado através do e-mail 
                </ion-toggle>

                <ion-toggle ng-model="config.allowNotificationPush" toggle-class="toggle-calm" ng-change="onChangeField()">
                    Receber notificações push 
                </ion-toggle>

                <ion-toggle ng-model="config.allowNotificationEmail" toggle-class="toggle-calm" ng-change="onChangeField()">
                    Receber notificações por email
                </ion-toggle>

            </ul>
    </ion-content>

</ion-view>