<ion-view title="Encontrar amigo">



    <form name="formFriend" novalidate>
    <ion-header-bar class="bar-assertive item-input-inset  bar-subheader">




    <label class="item-input-wrapper">
    
    <input type="search" placeholder="Procurar pelo nome ou por e-mail" ng-keyup="onSearch(formFriend.word.$modelValue)" name="word" ng-model="word">
    <button type="button" class="button button-icon icon button-small placeholder-icon" on-touch="onClean(formFriend)" ng-class="{'ion-android-close':searchStart, 'ion-android-search':!searchStart}">
    </button>
    </label>
    </ion-header-bar>
    </form>

    <ion-content class="has-header has-subheader" ng-class="{'has-subheader':showInput}">


        <div class="wait-message" ng-show="searching">
        <ion-spinner class="spinner-energized"></ion-spinner>
        <span>Carregando</span>
        </div>

        <div class="notice-library-empty" ng-hide="searchStart">

            utilize a pesquisa

        </div>

        <div class="notice-library-empty" ng-show="friendsResult.length==0 && searchStart">

            nenhum amigo encontrado

        </div>


        <div class="list friend-list add" ng-hide="searching">
        <div class="item item-avatar  item-button-right" ng-repeat="item in friendsResult">
        <img ng-src="{{item.photo}}" />
        <h2>{{item.fullname}}</h2>


        <button class="button icon button-icon energized " ng-click="onAdd(item)" ng-class="{'ion-android-done':item.added, 'ion-person-add':!item.added}">
        </button>
        </div>
        </div>


    </ion-content>

</ion-view>