<ion-view title="{{'friend_search.title' | translate}}">





<ion-content class="has-header view-friend-add" scroll="false">

    <div class="invite-tab tabs tabs-background-assertive tabs-top" >

        <a class="tab-item" ng-class="{'active':activeTab==0}" ng-click="onChangeTab(formFriend, 0)">{{'friend_search.tab_search' | translate}}</a>
        <a class="tab-item"  ng-class="{'active':activeTab==1}" ng-click="onChangeTab(formFriend, 1)">{{'friend_search.tab_suggest' | translate}}</a>
        <a class="tab-item" ng-class="{'active':activeTab==2}" ng-click="onChangeTab(formFriend, 2)">{{'friend_search.tab_contact' | translate}}</a>
        
    </div>

    <form name="formFriend" novalidate ng-show="showSearch">
        <div class="item-input-inset item item-search">
            <label class="item-input-wrapper">
                <input type="search" placeholder="{{'friend_search.placeholder' | translate}}" ng-keyup="onSearch(formFriend.word.$modelValue, true)" name="word" ng-model="search.word">
                <button type="button" class="button button-icon icon button-small placeholder-icon" on-touch="onClean(formFriend)" ng-class="{'ion-android-close':searchStart, 'ion-android-search':!searchStart}">
                </button>
            </label>
        </div>
    </form>



    <ion-scroll  direction="y" style="width: 100%; height: 100%">

        <div class="wait-message" ng-show="searching">
            <ion-spinner class="spinner-energized"></ion-spinner>
            <span>{{'app.loading' | translate}}</span>
        </div>

        <div class="list friend-list add" ng-hide="searching">
            
        <friend friend="item" ng-repeat="item in friendsResult" button="true"></friend>

        </div>
        <div style="height: 200px">
            <div class="wait-message" style="padding-top: 0px;" ng-show="pagging">
                <ion-spinner class="spinner-energized"></ion-spinner>
                <span>{{'app.loading' | translate}}</span>
            </div>
        </div>
    </ion-scroll>

<ion-infinite-scroll ng-if="hasScroll"
    on-infinite="loadMore()"
    spinner="android"
    distance="5%">
  </ion-infinite-scroll>

</ion-content>

</ion-view>