<ion-view>
    <ion-nav-bar class="bar-positive">
        <ion-nav-title>
          {{bookView.title}}
        </ion-nav-title>
        <ion-nav-buttons side="left">
          
            <button menu-toggle="right" class="button button-icon icon ion-android-arrow-back" ng-click="onBack()"></button>
      </ion-nav-buttons>

       <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

    </ion-nav-bar>
  <ion-content>


    Detalhes do livro!!!! 


    <div>

    </div>


  </ion-content>

</ion-view>