<form ng-submit="doSave(formLibrary)" name="formLibrary" novalidate>
<ion-view>
<div class="bar bar-header bar-energized bar-header-button">
<div class="button-bar">
    <a class="button button-clear" ng-click="onCancel()">Cancelar</a>
    <button type="submit" class="button button-clear">Salvar</button>
</div>
  
  
</div>
  <ion-content style="padding-top: 44px;">


  


          

            <div class="list">



            

                <div class="item item-input" ng-class="{ 'has-error' : formLibrary.isbn.$invalid && formLibrary.$submitted}">
                
                  <input type="text" placeholder="ISBN" name="isbn" ng-model="form.isbn" required>
                  
                  <button type="button" class="button button-icon icon ion-ios-barcode-outline" ng-click="doScan()"></button>
                </div>
                 <div class="form-errors" ng-messages="formLibrary.isbn.$error" ng-show="formLibrary.$submitted">
                      <div class="form-error" ng-message="required">ISBN é obrigatório</div>
                 </div>
                  
                
      


      <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formLibrary.title.$invalid && formLibrary.$submitted}">
      <span class="input-label">Título</span>
          <input type="text"  name="title" ng-model="form.title" required>
      </label>
      <div class="form-errors" ng-messages="formLibrary.title.$error" ng-show="formLibrary.$submitted">
            <div class="form-error" ng-message="required">Título é obrigatório</div>
        </div>

         <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formLibrary.author.$invalid && formLibrary.$submitted}">
         <span class="input-label">Autor</span>
          <input type="text"  name="author" ng-model="form.author" required>
      </label>
      <div class="form-errors" ng-messages="formLibrary.author.$error" ng-show="formLibrary.$submitted">
            <div class="form-error" ng-message="required">Autor é obrigatório</div>
        </div>

         <div class="item item-image">
          <img ng-src="{{form.thumb}}" style="width: 100px; margin: 10px;" ng-click="onPicture()"/>
        </div>

<!--        

         <div class="item" ng-hide="moreField">
            <button type="button" class="button button-stable button-block" ng-click="moreField=true">MAIS INFORMAÇÕES</button>
         </div>

          <label class="item item-input item-stacked-label" ng-show="moreField">
             <span class="input-label">Editora</span>
              <input type="text"  name="publisher" ng-model="form.publisher">
          </label>

          <label class="item item-input item-stacked-label" ng-show="moreField">
             <span class="input-label">Data de Publicação</span>
              <input type="date"  name="published_date" ng-model="form.published_date">
          </label>

          <label class="item item-input item-stacked-label" ng-show="moreField">
             <span class="input-label">Páginas</span>
              <input type="number"  name="page_count" ng-model="form.page_count">
          </label> -->
      </div>


    

    


  </ion-content>

</ion-view>
</form>