<ion-view>
    <ion-nav-title>
        {{bookView.title}}
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button type="button" class="button icon button-clean ion-android-more-vertical ng-hide" ng-click="onAction($event, bookView)" ng-show="bookView.is_owner"></button>
    </ion-nav-buttons>



  <ion-content class="book-view">


    <div class="wait-message" ng-show="loading">
        <ion-spinner class="spinner-energized"></ion-spinner>
    </div>

    
    <div ng-hide="loading">
        
        
        

        <div class="card">
            <div class="item item-line-bottom" href="#">
              <img ng-src="{{bookView.thumb}}" class="cover">
              <div class="info">
                  <p><span>ISBN</span>{{bookView.isbn}}</p>
                  <p ng-show="bookView.page_count>0" style="width: 178px;"><span>Autor(res)</span>{{bookView.author}}</p>
                  <p ng-show="bookView.page_count>0"><span>Páginas</span>{{bookView.page_count}}</p>
                  <p ng-show="bookView.publisher"><span>Editora</span>{{bookView.publisher}}</p>
                  <p ng-show="bookView.published_date"><span>Publicação</span>{{bookView.published_date | date:'dd/MM/yyyy'}}</p>
                  
              </div>
            </div>
        </div>

        <div class="card" ng-show="bookView.loaned && bookView.loaned.id==user.id">
            <div class="item item-avatar loan">
                <img ng-src="{{bookView.loaned.photo}}">
                    {{bookView.loaned.fullname}}
                    <p><strong>Data</strong> {{bookView.loaned.date | date:'dd/MM/yyyy'}}</p>
                    <p ng-show="bookView.loaned.expired>0"><strong>Tempo</strong> {{bookView.loaned.expired}} dias restantes</p>
                    <p ng-show="bookView.loaned.expired<=0" >Está atrasado!</p>

                    <button ng-show="bookView.loaned.status=='requested'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('requested_canceled')">Cancelar solicitação</button> 


                    <button ng-show="bookView.loaned.status=='requested_returned' || bookView.loaned.status=='delivered'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('wait_return')">Devolver</button>

                    <button ng-show="bookView.loaned.status=='wait_delivery' || bookView.loaned.status=='sent'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('delivered')">Confirmar empréstimo</button>



          </div>
        </div>


        <div class="card" ng-show="bookView.loaned && bookView.is_owner">
            <div class="item item-avatar loan">
                <img ng-src="{{bookView.loaned.photo}}">
                    {{bookView.loaned.fullname}}
                    <p><strong>Data</strong> {{bookView.loaned.date | date:'dd/MM/yyyy'}}</p>
                    <p ng-show="bookView.loaned.expired>0"><strong>Prazo</strong> {{bookView.loaned.expired}} dias restantes</p>
                    <p ng-show="bookView.loaned.expired<=0" >Está atrasado!</p>

                    <button ng-show="bookView.loaned.status=='wait_delivery'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('wait_delivery_canceled')">Cancelar empréstimo</button>

                    <button ng-show="bookView.loaned.status=='sent'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('sent_canceled')">Cancelar empréstimo</button>

                    <button ng-show="bookView.loaned.status=='delivered' || bookView.loaned.status=='requested_returned'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('requested_returned')">Solicitar devolução</button>

                    <button ng-show="bookView.loaned.status=='wait_return'" class="button button-small button-clean button-energized" ng-click="onChangeStatus('returned')">Confirmar devolução</button>

                    <p ng-show="bookView.loaned.status=='requested'">
                    Deseja emprestar este livro?<br />
                    <button class="button button-small button-clean button-energized" ng-click="onChangeStatus('requested_denied')">Não</button>
                    <button class="button button-small button-clean button-energized" ng-click="onChangeStatus('wait_delivery')">Sim</button>
                    </p>
              
          </div>




        </div>

        <div class="card" ng-hide="bookView.loaned || !bookView.is_owner">
            <div class="item">
                <a class="button button-energized button-block request-loan"  ui-sref="app.loanAdd({id:bookView.id})">Emprestar este livro</a>
            </div>
        </div>

        <div class="card" ng-hide="bookView.loaned || bookView.is_owner">
            <div class="item">
                <button class="button button-energized button-block request-loan"  ng-click="onRequestLoan(bookView)">
                    Solicitar emprestimo deste livro
                </button>
            </div>
        </div>



        <div class="card" style="margin-bottom: 130px;" ng-show="bookView.description">
            <div class="item item-divider item-line" >
              Sinopse
            </div>
            <div class="item item-text-wrap description" ng-bind-html="bookView.description">

            </div>
        </div>

      
    </div>
    
  </ion-content>

</ion-view>