<ion-view title="{{friend.fullname}}">
   
  <ion-content>
     <ion-refresher pulling-text="Atualizar" on-refresh="onRefresh()">
    </ion-refresher>

    <div class="wait-message" ng-show="loading">
        <ion-spinner class="spinner-energized"></ion-spinner>
    </div>


    <div class="list library" ng-hide="loading">

        <div class="item book"  ng-click="onView(item)" ng-hide="item.removed" ng-repeat="item in librarys" >

            <img ng-src="{{item.thumb}}">
                
                <h2>{{item.title}}</h2>
                
                <h3 class="author">{{item.author}}</h3>
        </div>

    </div>



    <div class="notice-library-empty" ng-show="librarys.length==0 && !loading">

        Seu amigo {{friend.first_name}} ainda não possui livro cadastrado.

    </div>
   




</ion-content>

</ion-view>