<ion-view>
  <ion-content >

  <div style="text-align: center">
    <img src="img/logo.png" style="width: 42%;" />

    <div class="tab-login">
        <div ng-class="{'active':tab==0}" ng-click="onChangeTab(0)">Login</div>
        <div ng-class="{'active':tab==1}" ng-click="onChangeTab(1)">Cadastro</div>
    </div>

    </div>
    <ion-slide-box show-pager="false" on-slide-changed="onChangeTab($index)">
      <ion-slide>
            <form ng-submit="doLogin(formLogin.$valid)" name="formLogin" novalidate class="form-login">
            <div class="list">


      <label class="item item-input item-floating-label" ng-class="{ 'has-error' : formLogin.email.$invalid && submitted}">
      <span class="input-label">Email</span>
        <input type="email" placeholder="Email" name="email" ng-model="form.email" required>
      </label>
       <div class="form-errors" ng-messages="formLogin.email.$error" ng-show="submitted">
            <div class="form-error" ng-message="required">Email é obrigatório</div>
        </div>


      <label class="item item-input item-floating-label" ng-class="{ 'has-error' : formLogin.password.$invalid && submitted}">
      <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha" name="password" ng-model="form.password" required>
      </label>
      <div class="form-errors" ng-messages="formLogin.password.$error" ng-show="submitted">
            <div class="form-error" ng-message="required">Senha é obrigatória</div>
        </div>

    
    </div>

<div class="padding">
<button type="submit" ng-click="submitted=true" class="button button-balanced button-block" style="ẅidth: 250px;">
  Entrar
</button>
</div>
    

    </form>

    <div class="padding">
    <button ng-click="doFacebook()"class="button  button-block  button-login button-facebook icon-right ion-social-facebook" type="button">Entrar com <strong>Facebook</strong></button>
        
    </div>


      </ion-slide>
      <ion-slide>
        
         <form ng-submit="doCreate(formCreate.$valid)" name="formCreate" novalidate>
            <div class="list">

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : formCreate.fullname.$invalid && submittedCreate}">
            <span class="input-label">Nome completo</span>
              <input type="text" placeholder="Nome Completo" name="fullname" ng-model="form.fullname" required>
            </label>
             <div class="form-errors" ng-messages="formCreate.fullname.$error" ng-show="submittedCreate">
                  <div class="form-error" ng-message="required">Nome é obrigatório</div>
              </div>


            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : formCreate.email.$invalid && submittedCreate}">
            <span class="input-label">Email</span>
              <input type="email" placeholder="Email" name="email" ng-model="form.email" required>
            </label>
             <div class="form-errors" ng-messages="formCreate.email.$error" ng-show="submittedCreate">
                  <div class="form-error" ng-message="required">Email é obrigatório</div>
              </div>


            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : formCreate.password.$invalid && submittedCreate}">
            <span class="input-label">Senha</span>
                <input type="password" placeholder="Senha" name="password" ng-model="form.password" required>
            </label>
            <div class="form-errors" ng-messages="formCreate.password.$error" ng-show="submittedCreate">
                  <div class="form-error" ng-message="required">Senha é obrigatória</div>
              </div>

            
          </div>

          <div class="padding">
                <button type="submit" ng-click="submittedCreate=true" class="button button-block button-balanced">
        Cadastrar
      </button>

            </div>

          </form>




      </ion-slide>
    </ion-slide-box>


    

    
  </ion-content>
</ion-view>
