
<ion-view>
<ion-nav-bar class="bar-positive" ng-controller="menuCtrl">
<ion-nav-back-button>
  </ion-nav-back-button>
<ion-nav-title>
      Livrio
    </ion-nav-title>

    <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-android-search"></button>
    <a href="#/library-add" menu-toggle="right" class="button button-icon icon ion-android-add-circle"></a>
    <button menu-toggle="right" class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
</ion-nav-bar>


  <ion-content scroll="false">

<ion-slide-box show-pager="false" ion-slide-tabs slide-tabs-scrollable="false">




    <ion-slide ion-slide-tab-label="Biblioteca" ng-controller="libraryCtrl">


<ion-scroll direction="y" style="width: 100%; height: 100%">


<div class="library row " ng-repeat="row in librarys">
    
<div class=" col col-50" ng-repeat="item in row">
<div class="book"  ng-click="onView(item)">

            <div class="cover">
                <img ng-src="{{item.thumb}}">
            </div>

        
        
        <h2>{{item.title}}</h2>
        
        <h3 class="author">{{item.author}}</h3>

        <i class="icon ion-android-more-vertical btn-more"></i>

        </div>

</div>

        

      </div>


    
<!--            
    <div class="list">

        <div class="item item-book" ng-repeat="item in librarys" ng-click="onOpen(item)">
          <img ng-src="{{item.thumb}}">
          <div class="info">
            <h2>{{item.title}}</h2>
            <p>{{item.author}}</p>
            <span ng-show="item.loaned" ng-class="{'assertive':item.loaned.expired<=0, 'positive':item.loaned.expired>0}"><i class="icon ion-arrow-swap"></i> Emprestado</span>
          </div>
        </div>
    </div>


-->
    <div class="notice-library-empty" ng-show="librarys.length==0">

        Olá, {{user.name}} :)<br />
        Você ainda não tem livros cadastrados.<br />
        Comece já!

    </div>


</ion-scroll>


    </ion-slide>

    <ion-slide ion-slide-tab-label="Empréstimo" ng-controller="loanCtrl">





<div class="notice-library-empty" ng-show="librarys.length==0">

            Você ainda não tem livros emprestados!

        </div>





    </ion-slide>

    <ion-slide ion-slide-tab-label="Amigos" ng-controller="friendsCtrl">





    <div class="list">

    <div class="item item-avatar" ng-repeat="item in friends" ng-click="onLibrary(item)">
      <img ng-src="{{item.photo}}" />
      <h2>{{item.fullname}}</h2>
      <p>Livros: {{item.amount_book}}</p>
    </div>


</div>

 <div class="notice-library-empty" ng-show="friends.length==0">

        Olá, {{user.name}} :)<br />
        Você é uma pessoal solitaria, conecte-se aos seus amigos para ter vida social :D

    </div>





    </ion-slide>

</ion-slide-box>


</ion-content>

</ion-view>