<ion-popover-view style="height: 170px;">
<ion-content>
  <div class="list">
    <a class="item item-icon-left" href="#/profile" ng-click="onHide()">
      <i class="icon ion-person"></i> Perfil
    </a>
    <a class="item item-icon-left" href="#/about"  ng-click="onHide()">
      <i class="icon ion-information"></i> Sobre o Livrio
    </a>
    <div class="item item-icon-left" ng-click="onLogout()">
      <i class="icon ion-android-exit"></i> Sair
    </div>
  </div>
</ion-content>
</ion-popover-view>