<ion-modal-view>
    <ion-header-bar class="bar-assertive">
    <div class="button-bar">
          <a class="button" ng-click="onCloseModal()">Cancelar</a>
          <a class="button" ng-click="onSaveShelf()">Salvar</a>
    </div>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader center">
        <button type="button" class="button button-clean" ng-click="doCreateShelf()">Criar estante</button>
    </ion-header-bar>
    <ion-content>
    

     

        <div class="list">
            <ion-checkbox ng-model="item.checked" ng-checked="item.checked" class="checkbox-calm" ng-repeat="item in shelfsForm | orderBy: 'text'">
                {{item.text}}
            </ion-checkbox>
        </div>
    </ion-content>
</ion-modal-view>