

<ion-view class="no-header profile-view">
   <ion-nav-bar>
    <div class="hero">
         <button ng-click="onMenu()" class="button back-button buttons   button-clear header-item">
            <i class="icon ion-navicon"></i>
        </button>
        <button type="button" class="button button-icon button-photo" ng-click="onCover()">
                    <i class="icon ion-android-camera"></i>
                </button>
            <div class="cover" ng-style="cover">

            </div>
            <div class="content">

                <div class="avatar" ng-style="photo" ng-click="onPicture()">

                </div>
                <h3>{{form.fullname}}</h3>
                <h4>{{'profile.book' | translate}} {{user.amount_book}}</h4>
            </div>


        </div>
   </ion-nav-bar>


  <ion-content>



        <form ng-submit="doUpdate(formUpdate.$valid)" name="formUpdate" novalidate id="formUpdate">
        <div class="list">


            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.fullname.$invalid && formUpdate.$submitted}">
                <span class="input-label">{{'profile.field_name' | translate}}</span>
                <input type="text"  name="fullname" ng-model="form.fullname" ng-blur="onChangeField(formUpdate.fullname)" required>
            </label>
            <div class="form-errors" ng-messages="formUpdate.fullname.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">{{'profile.field_name' | translate}} {{'app.required_field' | translate}}</div>
            </div>



            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.birthday.$invalid && formUpdate.$submitted}">
                <span class="input-label">{{'profile.field_birthday' | translate}}</span>
                <input type="date"  name="birthday" ng-model="form.birthday" ng-blur="onChangeField(formUpdate.birthday)" required>
            </label>
            <div class="form-errors" ng-messages="formUpdate.birthday.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">{{'profile.field_birthday' | translate}} {{'app.required_field' | translate}}</div>
            </div>


            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.gender.$invalid && formUpdate.$submitted}">
                <span class="input-label">{{'profile.field_gender' | translate}}</span>
                <select ng-blur="onChangeField(formUpdate.gender)" name="gender" ng-model="form.gender">
                    <option value="male" >{{'profile.gender_male' | translate}}
                    <option value="female">{{'profile.gender_female' | translate}}
                </select>
            </label>
            <div class="form-errors" ng-messages="formUpdate.gender.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">{{'profile.field_gender' | translate}} {{'app.required_field' | translate}}</div>
            </div>

           <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.email.$invalid && formUpdate.$submitted}">
                <span class="input-label">{{'profile.field_email' | translate}}</span>
                <input disabled="true" type="email"  name="email" ng-model="form.email" ng-blur="onChangeField(formUpdate.email)" required>
            </label>
            <div class="form-errors" ng-messages="formUpdate.email.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">{{'profile.field_email' | translate}} {{'app.required_field' | translate}}</div>
            </div>

            <label class="item item-input item-stacked-label item-text-wrap" ng-class="{ 'has-error' : formUpdate.phone.$invalid && formUpdate.$submitted}">
                <span class="input-label">{{'profile.field_phone' | translate}}</span>
                <input type="text"  name="phone" ng-model="form.phone" ng-blur="onChangeField(formUpdate.phone)" placeholder="{{'profile.placeholder_phone' | translate}}">
                <small>{{'profile.info_phone' | translate}}</small>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'profile.field_state' | translate}}</span>
                <select ng-blur="onChangeField(formUpdate.state)" name="state" ng-model="form.state">
                    <option value="">Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label item-text-wrap">
                <span class="input-label">{{'profile.field_city' | translate}}</span>
                <input type="text"  name="city" ng-model="form.city" ng-blur="onChangeField(formUpdate.city)" placeholder="{{'profile.placeholder_city' | translate}}">
                <small>{{'profile.info_city' | translate}}</small>
            </label>






        </div>

        <p class="padding">
        {{'profile.info' | translate}}

        </p>

    </form>

</ion-content>

</ion-view>
