
<form ng-submit="doUpdate(formUpdate.$valid)" name="formUpdate" novalidate id="formUpdate">
<ion-view title="Perfil de usuário">

<ion-nav-buttons side="right">
    <button class="button button-clean button-icon" type="submit">Salvar</button>
</ion-nav-buttons>

  <ion-content class="profile-view">

    
        <div class="list">

            <div class="item" ng-click="onPicture()">
                <img  ng-src="{{form.photo}}" style="width: 100%" class="photo" />
                <button type="button" class="button button-icon button-photo">
                <i class="icon ion-android-camera"></i>
                </button>
            </div>


            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.fullname.$invalid && formUpdate.$submitted}">
                <span class="input-label">Nome</span>
                <input type="text"  name="fullname" ng-model="form.fullname" required>
            </label>
            <div class="form-errors" ng-messages="formUpdate.fullname.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">Nome é obrigatório</div>
            </div>

         

            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.birth.$invalid && formUpdate.$submitted}">
                <span class="input-label">Data de Nascimento</span>
                <input type="date"  name="birth" ng-model="form.birth" required>
            </label>
            <div class="form-errors" ng-messages="formUpdate.birth.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">Data de Nascimento é obrigatório</div>
            </div>


            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.gender.$invalid && formUpdate.$submitted}">
                <span class="input-label">Sexo</span>
                <select>
                    <option>
                    <option>Masculino
                    <option>Feminino
                </select>
            </label>
            <div class="form-errors" ng-messages="formUpdate.gender.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">Sexo é obrigatório</div>
            </div>

           <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formUpdate.email.$invalid && formUpdate.$submitted}">
                <span class="input-label">E-mail</span>
                <input type="text"  name="email" ng-model="form.email" required>
            </label>
            <div class="form-errors" ng-messages="formUpdate.email.$error" ng-show="formUpdate.$submitted">
                <div class="form-error" ng-message="required">E-mail é obrigatório</div>
            </div>


        </div>

        <p class="padding">
        Caro usuário, as informações de sexo e data de nascimento são utilizadas para sugerir livros que melhor se encaixa com seu perfil. Caso tenha dúvidas consulte nossa <a class="link" ui-sref="app.privacy">Política de Privacidade</a>.
        </p>

    

</ion-content>

</ion-view>
</form>