<ion-view title="Amigos">

    <ion-nav-buttons side="right">
        <button class="button button-clean icon ion-android-share" type="button" ng-click="doInvite()"></button>
    </ion-nav-buttons>

    <ion-content>


        <ion-refresher pulling-text="Atualizar" on-refresh="onRefresh()"></ion-refresher>

        <div class="wait-message" ng-show="loading">
            <ion-spinner class="spinner-energized"></ion-spinner>
            <span>Carregando</span>
        </div>

        <div class="card padding center" ng-hide="user.is_facebook  || loading">
            <div class="item item-text-wrap">
                <p>
                    Você ainda não conectou o <strong>Livrio</strong> ao seu Facebook. Conecte-se para que seus amigos tenham acesso aos seus livros.
                </p>
                <br />
                <button class="button button-small button-facebook icon-left ion-social-facebook" ng-click="doFacebook()">Conectar ao Facebook</button>
            </div>
        </div>


        <div class="list friend-list" ng-hide="loading">

            <div class="item item-avatar" ng-repeat="item in friends" ui-sref="app.friendBook({id:item.id})">
                <img ng-src="{{item.photo}}" />
                {{item.fullname}}
            </div>
        </div>

        <div class="notice-library-empty" ng-show="friends.length==0 && !loading">

            Nenhum amigo

        </div>

    </ion-content>

    <a class="button button-float" ui-sref="app.friendAdd">
        <i class="icon ion-android-person-add"></i>
    </a>

</ion-view>
