<ion-view title="Meus livros">

    <ion-nav-buttons side="right">
        <a class="button button-clean icon ion-android-search" ui-sref="app.book-search"></a>
    </ion-nav-buttons>


    <ion-content>

        <ion-refresher pulling-text="Atualizar" on-refresh="onRefresh()"></ion-refresher>


        <div class="wait-message" ng-show="loading">
            <ion-spinner></ion-spinner>
        </div>

        <div class="list library" ng-hide="loading">

            <div class="item book" ng-hide="item.removed" ng-repeat="item in librarys" ui-sref="app.book({id:item.id})">
                <button type="button" class="button button-icon  btn-more" ng-click="onActionBook($event, item)">
                    <i class="icon ion-android-more-vertical"></i>
                </button>
                <i class="icon ion-bookmark loan" ng-class="{'expired':item.loaned.expired<=0}" ng-show="item.loaned"></i>
                <img ng-src="{{item.thumb}}">
                <div class="ct">
                    <h2>{{item.title}}</h2>
                    <h3>{{item.author}}</h3>

                        <p ng-show="item.publisher">{{item.publisher}}<span ng-show="item.published_year"> ({{item.published_year}})</span></p>
                        
                        <p ng-show="item.page_count>0">Páginas {{item.page_count}}</p>
                    
                        
                </div>

                
            </div>

        </div>



        <div class="notice-library-empty" ng-show="librarys.length==0 && !loading">

            nenhum livro cadastrado

        </div>

    </ion-content>

    <a class="button button-float" ui-sref="app.bookAdd">
        <i class="icon ion-plus"></i>
    </a>

</ion-view>
