

<ion-view>



  <ion-content>


    <div class="library row " ng-repeat="row in librarys">
    
<div class=" col col-50" ng-repeat="item in row">
<div class="book"  ng-click="onBook(item)">

            <div class="cover">
                <img ng-src="{{item.thumb}}">
            </div>

        
        
        <h2>{{item.title}}</h2>
        
        <h3 class="author">{{item.author}}</h3>
        <button type="button" class="button icon ion-android-more-vertical btn-more" ng-click="onActionBook($event, item)"></button>
        

        </div>

</div>

        

      </div>


    <div class="notice-library-empty" ng-show="librarys.length==0">

        Olá, {{user.name}} :)<br />
        Você ainda não tem livros cadastrados.<br />
        Comece já!

    </div>
   


  </ion-content>
</ion-view>
