<ion-view title="Empréstimos">
    <ion-content>

        <ion-refresher pulling-text="Atualizar" on-refresh="onRefresh()"></ion-refresher>

        <div class="wait-message" ng-show="loading">
            <ion-spinner class="spinner-energized"></ion-spinner>
        </div>



        <div class="list library" ng-hide="loading">
            <div class="item item-divider" href="#">
                Livros de amigos
            </div>
            <div class="item book" ng-hide="item.removed" ng-repeat="item in bookLoaneds" ui-sref="app.book({id:item.id})">

                <img ng-src="{{item.thumb}}">

                <h2>{{item.title}}</h2>

                <h3 class="author">{{item.author}}</h3>
                <p>
                <span ng-show="item.owner">Pertence a <strong>{{item.owner.fullname}}</strong></span>
                </p>
                <button type="button" class="button icon ion-android-more-vertical btn-more" ng-click="onActionBook($event, item)"></button>
            </div>

        </div>

        <div class="list library" ng-hide="loading">
            <div class="item item-divider" href="#">
            Meus livros emprestado
            </div>
            <div class="item book" ng-hide="item.removed" ng-repeat="item in bookLoans"  ui-sref="app.book({id:item.id})">

                <img ng-src="{{item.thumb}}">

                <h2>{{item.title}}</h2>

                <h3 class="author">{{item.author}}</h3>
                <p>
                <span ng-show="item.loaned">Emprestado para <strong>{{item.loaned.fullname}}</strong></span>
                </p>
                <button type="button" class="button icon ion-android-more-vertical btn-more" ng-click="onActionBook($event, item)"></button>
            </div>

        </div>  

    </ion-content>
</ion-view>
