    <ion-view title="{{'loan.title' | translate}}">
    <ion-content>

        <ion-refresher pulling-text="{{'refresh' | translate}}" on-refresh="onRefresh()"></ion-refresher>

        <div class="wait-message" ng-show="loading">
            <ion-spinner class="spinner-energized"></ion-spinner>
            <span>{{'loading' | translate}}</span>
        </div>

        <book ng-repeat="item in bookLoans" book="item"></book>

        <book ng-repeat="item in bookLoaneds" book="item"></book>


        <div class="notice-library-empty" ng-hide="bookLoaneds.length || bookLoans.length || loading">

        {{'loan.empty_list' | translate}}

    </div>

    </ion-content>
</ion-view>
