<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->






<ion-tabs class="tabs-color-active-energized tabs-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Biblioteca" href="#/app/tab/library">
    <ion-nav-view name="tab-library"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Empréstimos" href="#/app/tab/loan">
    <ion-nav-view name="tab-loan"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Amigos"  href="#/app/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


</ion-tabs>
