.book-card {
    background-color: #fff;
    padding: 10px;

    height: initial;
    border-color: $divider;
    
    .row, .col{
        padding: 0px;
    }

    .cover{
        width: 86px;
        height: 128px;
        background-size: cover;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    }

    .content {
        padding-left: 10px;
        padding-top: 10px;

        h2{
            font-size: 16px;
            color: rgba(0,0,0,0.87);
            line-height: 19px;
            white-space: normal;
            padding-right: 20px; 
            max-height: 40px;
            .btn-more{
                position: absolute;
                top: 1px;
                right: 5px;
                &:before{
                    font-size: 22px; 
                }
            }
        } 

        h3{ 
            font-size: 14px;
            color: rgba(0,0,0,0.54);
            line-height: 16px;
            padding-right: 20px;  
        }


    }

    .user-loan {
        position: absolute;
        bottom: 0px;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        > span {
            vertical-align: top;
            font-size: 12px;
            color: #444;
            display: inline-block;
            position: relative;
            top: 5px;
            left: 5px;
            font-style: italic;

        }
    }
    
}