.tabs-secondary a {
    color: #080C15;

    text-transform: uppercase;
    font-weight: 500;
    max-width: initial;

    &.success{
        color: #1B5E20;
    }

    &.danger{
        color: #B71C1C;
    }
}

.tab-item.active {
    opacity: 1;
    color: #4485F3;
}


.has-header{
    top: 50px;
}

.has-subheader {
    top: 88px;
}

.bg-color{
    background-color: #efefef;
}




.no-header {
    .nav-bar-block{
        display: none;
    }

    .has-header{
        top: 0px;
    }

    .back-button{
        position: absolute;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.67);
    }

    .notice-library-empty {
        position: inherit;
    }
}
