
/* Hero
==================================*/

.hero {
    background-size: cover;
    
    color: #fff;
    height: 150px;
    position: relative;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
}

.hero > .content {
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.hero > .content > .avatar {
    background-position: center;
    background-size: cover;
    border: solid 1px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: inline-block;
    height: 88px;
    left: auto;
    margin-bottom: 10px;
    position: relative;
    width: 88px;
}
.hero h1 .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
    color: #fff;
    margin: 0;
}
.hero h4 {
    color: rgba(255, 255, 255, 0.7);
    margin: 3px 0 16px;
}
.hero h1 > a, .hero h2 > a, .hero h3 > a, .hero h4 > a, .hero h5 > a, .hero h6 > a {
    text-decoration: none;
}
.hero + .button-bar {
    border-radius: 0;
    margin-top: 0;
}

.hero + .tabs {

    position: inherit;
    border-bottom: 1px solid #ccc;
    
}

