<ion-modal-view>
<ion-header-bar class="bar-assertive">
<button ng-click="closeModal()" class="button back-button buttons  button-clear header-item"><i class="icon ion-android-arrow-back"></i> <span class="back-text"></span></button>
<h1 class="title">{{'friend_contact.title' | translate}}</h1>
</ion-header-bar>
<ion-content class="view-contact">


<div class="wait-message" ng-show="readingContact">
    <ion-spinner class="spinner-energized"></ion-spinner>
    <span>{{'friend_contact.loading' | translate}}</span>
</div>

<div class="text" ng-hide="readingContact">
        

<p>{{'friend_contact.text' | translate}}</p>
<img src="img/official.svg" />


</div>

<div ng-hide="readingContact">
    <button type="button" ng-click="onReadContact()" class="button button-ok">{{'friend_contact.btn_ok' | translate}}</button>
</div>

<div class="terms" ng-hide="readingContact">
{{'friend_contact.terms' | translate}}
</div>

</ion-content>
</ion-modal-view>